build
out
bin
CMakeFiles
CMakeScripts
customlaunchscript.sh
CMakeCache.txt
CMakeLists.txt
CPackConfig.cmake
CPackSourceConfig.cmake
xcdebugger
_deps
*.xcodeproj
IPD-ABM.xcodeproj
*.DS_Store
.DS_Store
.cache
.idea
.vs
*.vscode
*.pbxproj
.git
.github
*.Rproj
*.RData
*.Rhistory
*.user
*.cmake
*.sh
